html, body {
				padding: 0;
				margin: 0;
				color: white;
}

* {
				box-sizing: border-box;
}

#wrapper {
				width: 100%;
				max-width: 1600px; /*988 и 612*/
				margin: 0 auto;
}

#main {
				width: 61.75%;
				float: left;
				
				background-color: #ffa500;
				padding: 20px;
				color: #333;
}

#sidebar {
				width: 38.25%;
				float: right;
				
				background-color: #1d2432;
				padding: 20px;
				text-align: center;
}

.flexible-image {
				max-width: 100%;
}

#wrapper, #main, #sidebar {
				min-height: 100vh;
}

@media screen and (max-width: 315px) {
				#main, #sidebar {
								float: none;
								width: 100%;
				}
				
				#wrapper, #main, #sidebar {
								min-height: initial;
				}
}
