a {
				text-decoration: none;
				color: #4c497d;
}
p {
				font-style: italic;
				font-size: 20px;
				text-shadow: 0 2px 5px #ff9f80;
				color: #ff808a;
}
body{
				/*background-image: url('../image/soft-touch.jpg');*/
				background-position: center top;
				font-size: 16px;
				color: #7d1f1f;
				background-color: #95b7ff;
}
